VITE_API_BASE_URL=https://surviving-cork-lushness.ngrok-free.dev
VITE_SUPABASE_URL=https://txdcattalsgunfolplvs.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_53Cd7i_2CFH4tEHAp43m6w_icqeHPmJ
